<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Servlet2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>Login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>JdbcConn</display-name>
    <servlet-name>JdbcConn</servlet-name>
    <servlet-class>server.JdbcConn</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>oracle.jdbc.driver.OracleDriver</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>system</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>bhanu</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>JdbcConn</servlet-name>
    <url-pattern>/JdbcConn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Checking</display-name>
    <servlet-name>Checking</servlet-name>
    <servlet-class>server.Checking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Checking</servlet-name>
    <url-pattern>/Checking</url-pattern>
  </servlet-mapping>
</web-app>